/*  FONTS DISPONIVEIS
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
*/
body{
    font-family: 'Lato', sans-serif;

}
h1{
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
h6{
    font-family: 'Pacifico', cursive;
}
p{
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
    font-size: 16px;

}
ul, li{
    
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.btn{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}